<mat-card class="form-wrapper">
  <mat-card-header>
    {{'signup.title' | translate }}
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
      <mat-error *ngIf="errorMessageShow">{{errorMessage}}</mat-error>
      <mat-form-field>
        <mat-label> {{'signup.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">{{'signup.nameRequired' |
          translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label> {{'signup.login' | translate }}</mat-label>
        <input matInput type="text" formControlName="login" required>
        <mat-error *ngIf="signupForm.get('login')?.invalid && signupForm.get('login')?.touched">{{'signup.loginRequired'
          | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label> {{'signup.password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" required minlength="7">
        <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"> {{
          getErrorMessage('signup.passwordRequired', { length: 7 }) }}</mat-error>
      </mat-form-field>
      <button class="button" type="submit" [disabled]="signupForm.invalid">{{'signup.signupButton' | translate
        }}</button>
    </form>
  </mat-card-content>
</mat-card>
