<mat-dialog-content class="mat-dialog">
  <mat-card class="form-wrapper">
    <mat-card-header>
      {{'task.header'| translate}}
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="createForm" (ngSubmit)="createForm.valid && createSubmit()">
        <mat-form-field>
          <mat-label>{{'task.title'| translate}}</mat-label>
          <input matInput type="text" formControlName="title" required  maxlength="15">
          <mat-error *ngIf="createForm.get('title')?.invalid && createForm.get('title')?.touched">{{ getErrorMessage('task.titleRequired', { length: 15}) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'task.description'| translate}}</mat-label>
          <textarea matInput type="text" formControlName="description" required></textarea>
          <mat-error *ngIf="createForm.get('description')?.invalid && createForm.get('description')?.touched">{{'task.descriptionRequired'| translate}}</mat-error>
        </mat-form-field>
        <mat-dialog-actions>
        <button class="button" [mat-dialog-close] =true >{{'task.cancel'| translate}}</button>
        <button class="button" type="submit" [disabled]="createForm.invalid">{{'task.submit'| translate}}</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
