$primary: #EDF1D6;
$primary-dark: #9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;

.board-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 1px solid $secondary-dark;
  color: $primary;
  background-color: $primary-dark;
  border-radius: 5px;
  align-items: center;
  padding: 15px;
  font-size: 24px;
  margin-top: 15px;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
}

p {
  margin: 0;
}

ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 10px;
}

li {
  min-width: 250px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .board-header {
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
  }

  .board-header .mat-icon {
    display: none;
  }

  .board-header button {
    padding: 10px;
  }
}

@media screen and (min-width: 324px) and (max-width: 767px) {
  .board-header {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .board-header .mat-icon {
    display: block;
  }

  .board-header button {
    padding: 0px;
    line-height: 1;
    font-size: 0;
    width: 26px;
    height: 26px;
    margin-right: 0;
  }

  .margin {
    margin-right: 0;
  }

  li {
    min-width: 324px;
  }
}
