$primary: #EDF1D6;
$primary-dark:#9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;

.board-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 1px solid $secondary-dark;
  color: $primary;
  background-color: $primary-dark;
  border-radius: 5px;
  align-items: center;
  padding: 15px;
  font-size: 24px;
  margin-top: 15px;
  justify-content: space-between;
}

p{
  margin: 0;
}

ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  min-width: 250px;
}
