
<section class="board-header">
  <p>Board: {{board?.title}}</p>
  <button class="button" (click) = "openCreateDialog()" ><mat-icon class="margin">add_box</mat-icon>Create column</button>
</section>
<section cdkDropListGroup cdkDropList (cdkDropListDropped)="onMoveColumn($event)" [cdkDropListData]="columns">
  <ul>
    <li *ngFor="let column of columns">
      <pma-column [column] = column  class="form-wrapper" (removeColumnEvent)="ondeleteColumn($event)" cdkDrag></pma-column>
    </li>


  </ul>

</section>
