<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="text-wrapper">
        <h1>{{'welcome.header' | translate}}</h1>
        <p>{{'welcome.description'|translate}}</p>
        <button (click)="onStart()" class="button">{{'welcome.start'|translate}}</button>
      </div>
      <div class="image-wrapper">
        <img class="img-1" src="../../../assets/boards.png">
        <img class="img-2" src="../../../assets/tasks.png">
        <img class="img-3" src="../../../assets/edit.png">
        <img class="img-4" src="../../../assets/serach.png">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="text-wrapper">
        <h1>{{'welcome.course'|translate}}</h1>
        <p class="course">{{'welcome.course-text-1'|translate}}<a href="https://rs.school/">
            {{'welcome.link-course'|translate}}</a> {{'welcome.course-text-3'|translate}}<a
            href="https://github.com/rolling-scopes-school/js-fe-course-en/blob/main/tasks/angular/project-management-system.md">{{'welcome.link-terms'|translate}}.</a>
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="text-wrapper dev">
        <h1>{{'welcome.dev-header'| translate}}</h1>
        <p class="avatar"><img class="right-img" src="../../../assets/avatar.jpg">{{'welcome.dev-text-1'|translate}}<a
            href="https://github.com/DilbarAkkaya"> {{'welcome.dev-link'|translate}}</a>
          {{'welcome.dev-text-2'|translate}}</p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination pag_bullet"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
