@import '~normalize.css';
$primary: #EDF1D6;
$primary-dark: #9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;
$warning: #CC0000;


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background: $primary;
  font-family: 'Londrina Solid', cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  min-height: calc(100vh - 170px);
}

.button {
  display: flex;
  padding: 5px;
  justify-content: center;
  background-color: $primary;
  border-radius: 5px;
  border: 1px solid $secondary-dark;
  width: 160px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  line-height: 1.4;
  color: $secondary-dark;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button:hover {
  background-color: $secondary-dark;
  color: $primary;
  transition: all 1s;
}

button[disabled] {
  background-color: $primary-dark;
  cursor: default;
  color: #EDF1D6;
  pointer-events: none;
}

.margin {
  margin-right: 10px;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #EDF1D6;
  --mdc-snackbar-container-color: #CC0000;
  --mdc-snackbar-supporting-text-color: #EDF1D6;
}

input[type="text"] {
  border-radius: 5px;
}

textarea:focus,
input:focus {
  outline: none;
}

.mat-slide-toggle-bar {
  border-radius: 16px;
  height: 16px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.mat-slide-toggle-thumb {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-top: -8px;
}

.mat-slide-toggle-thumb {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 0 !important;
  height: 0 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb:before {
  content: '✔';
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 0;
  height: 0;
  display: block;
}

.mat-slide-toggle-thumb {
  background-image: none !important;
  width: 0 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-image: none !important;
}

.mat-slide-toggle-thumb {
  background-image: none !important;
  width: 0 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-image: none !important;
}

.mat-slide-toggle .mdc-switch--selected .mdc-switch__icon--on,
.mdc-switch--unselected .mdc-switch__icon--off {
  opacity: 0 !important;
  transition: opacity 45ms 30ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-slide-toggle .mdc-switch--unselected .mdc-switch__icon--off,
.mdc-switch--selected .mdc-switch__icon--on {
  opacity: 0 !important;
  transition: opacity 45ms 30ms cubic-bezier(0, 0, 0.2, 1);
}


.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: $secondary;
  opacity: 1;
  background: $secondary-dark;
}

.swiper-pagination-bullet-active {
  color: $secondary-dark;
  font-weight: 700;
  background: $primary-dark;
}

.success-snack {
  --mat-mdc-snack-bar-button-color: #EDF1D6;
  --mdc-snackbar-container-color: #609966;
  --mdc-snackbar-supporting-text-color: #EDF1D6;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  background: transparent;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--filled {
  background: transparent;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $primary-dark inset !important;
  width: 100% !important;
  -webkit-text-fill-color: $secondary-dark !important;
}

.mat-mdc-form-field-flex {
  width: 100%;
  margin: 0;
  font-size: 18px;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  transition: none !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $primary;
  font-weight: 500;
}

.mat-mdc-form-field-subscript-wrapper:last-child {
  margin-bottom: 0px;
}

.mdc-text-field__input {
  padding-top: 8px !important;
  padding-bottom: 0px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: $primary;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-width: 2px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: $secondary-dark;
}

.mat-mdc-form-field-error {
  color: $warning;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 0 !important;
}
