  <header class="header wrapper">
    <mat-toolbar class="mat-toolbar wrapper"><a [routerLink]="['/']" class="logo">RMA</a>
      <mat-button-toggle-group appearance="legacy" name="lang" aria-label="lang">
        <mat-button-toggle value="ru">RU</mat-button-toggle>
        <mat-button-toggle value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="auth-wrapper">
        <a href="#" class="button auth-link">Log in</a>
        <a href="#" class="button auth-link">Sign up</a>
        <button class="button create-button">Create board</button>
      </div>
    </mat-toolbar>
  </header>


