  <header class="header wrapper">
    <mat-toolbar class="mat-toolbar wrapper"><a [routerLink]="['/']" class="logo">RMA</a>
      <mat-button-toggle-group appearance="legacy" name="lang" aria-label="lang">
        <mat-button-toggle value="ru">RU</mat-button-toggle>
        <mat-button-toggle value="en">EN</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="auth-wrapper" *ngIf="!apiservice.isAuthenticated()">
        <a href="#" class="button auth-link" [routerLink]="['./auth/login']">Log in</a>
        <a href="#" class="button auth-link" [routerLink]="['./auth/signup']">Sign up</a>
      </div>
      <div class="auth-wrapper" *ngIf="apiservice.isAuthenticated()">
        <a class="button auth-link create-button" (click) = "openAuthDialog()">Create board</a>
        <a href="#" class="button auth-link" [routerLink]="['/']" (click) = "apiservice.logout()">Log out</a>
      </div>
    </mat-toolbar>
  </header>


