$primary: #EDF1D6;
$primary-dark:#9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;

.mat-toolbar {
  background-color: $primary;
  color: $secondary-dark;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  padding-top: 10px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  padding: 0;
}
.logo{
  font-size: 34px;
  color: $secondary-dark;
}

.mat-button-toggle {
  color: $secondary-dark;
}
.mat-button-toggle-checked {
  background-color: $secondary;
  color: $primary;
}

.auth-wrapper {
  display: flex;
}
.auth-wrapper a{
  text-decoration: none;
  margin-right: 10px;
  color: $secondary-dark;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.auth-wrapper a:nth-child(2){
  background-color: $secondary;
  color: $primary;
  margin-right: 0;
}

.auth-wrapper a:first-child{
  border: none;
  color: $secondary-dark;
  background-color: transparent;
}

.auth-wrapper a:hover{
  background-color: $primary-dark;
}

.auth-wrapper:last-child a{
  background-color: $secondary;
  color: $primary;
}
