$primary: #EDF1D6;
$primary-dark:#9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;

.form-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary-dark;
  color: $primary;
  background-color: $primary-dark;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
.mat-dialog{
 padding: 0;
}
mat-dialog-actions{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button:nth-child(1) {
  margin-right: 30px;
}

mat-card-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  align-self: center;
}
button[disabled]{
  background-color: $primary-dark;
}
