$primary: #EDF1D6;
$primary-dark: #9DC08B;
$secondary: #609966;
$secondary-dark: #40513B;


.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background: $secondary-dark;
  color: $primary;

}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 10px;
}

a {
  color: $primary;
  padding: 0 0 5px 0px;
}

svg {
  margin-right: 5px;
}

div {
  color: $primary;
}
